{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "@charrue/react-ts",
    "prettier",
    "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "consistent-return": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "chrome": "readonly"
  },
  "ignorePatterns": [
    "watch.js",
    "dist/**",
    "*.html"
  ]
}